<div class="input-group">
    <h4>Rol</h4>
    <select name="" id="" [(ngModel)]="user.rol">
        <option value="superusuario">Super Usuario</option>
        <option value="proveedor">Proveedor</option>
        <option value="administrativo">Administrativo</option>
        <option value="controlador">Controlador</option>
    </select>
</div>
<div class="form flex">
    <div class="column-50">
        <div class="input-group">
            <h4><i class="fa-solid fa-user"></i> Nombres <span *ngIf="!user.nombres && !valid"  class="error">*</span></h4>
            <input type="text" placeholder="Tayron Gianpier" [(ngModel)]="user.nombres" required>
        </div>
        <div class="input-group">
            <h4>Cédula  <span *ngIf="!user.cedula && !valid"  class="error">*</span></h4>
            <input type="text" placeholder="1550153793" [(ngModel)]="user.cedula" (keypress)="number($event)" required>
        </div>
        <div class="input-group">
            <h4>Correo <span *ngIf="!user.correo && !valid"  class="error">*</span></h4>
            <input type="text" placeholder="ghcasco@gmail.com" [(ngModel)]="user.correo" required>
        </div>

    </div>
    <div class="column-50">
        <div class="input-group">
            <h4>Apellidos <span *ngIf="!user.apellidos && !valid"  class="error">*</span></h4>
            <input type="text" placeholder="Casco Acurio" [(ngModel)]="user.apellidos" required>
        </div>
        <div class="input-group">
            <h4>Título <span *ngIf="!user.titulo && !valid"  class="error">*</span></h4>
            <input type="text" placeholder="Ing. Sistemas" [(ngModel)]="user.titulo" required>
        </div>
        <div class="input-group flex flex-end">
            <button class="btn btn-confirm" (click)="updateUser()">Actualizar</button>
        </div>
    </div>
    

</div>