<div class="input-group">
    <h4>Rol</h4>
    <select name="" id="" [(ngModel)]="rol">
        <option value="superusuario">Super Usuario</option>
        <option value="proveedor">Proveedor</option>
        <option value="administrativo">Administrativo</option>
        <option value="controlador">Controlador</option>
    </select>
</div>
<div class="form flex">
    <div class="column-50">
        <div class="input-group">
            <h4><i class="fa-solid fa-user"></i> Nombres <span *ngIf="!nombres && !valid"  class="error">*</span></h4>
            <input type="text" placeholder="Tayron Gianpier" [(ngModel)]="nombres" required>
        </div>
        <div class="input-group">
            <h4>Cédula  <span *ngIf="!cedula && !valid"  class="error">*</span></h4>
            <input type="text" placeholder="1550153793" [(ngModel)]="cedula" (keypress)="number($event)" required>
        </div>
        <div class="input-group">
            <h4>Correo <span *ngIf="!correo && !valid"  class="error">*</span></h4>
            <input type="text" placeholder="ghcasco@gmail.com" [(ngModel)]="correo" required>
        </div>

    </div>
    <div class="column-50">
        <div class="input-group">
            <h4>Apellidos <span *ngIf="!apellidos && !valid"  class="error">*</span></h4>
            <input type="text" placeholder="Casco Acurio" [(ngModel)]="apellidos" required>
        </div>
        <div class="input-group">
            <h4>Título <span *ngIf="!titulo && !valid"  class="error">*</span></h4>
            <input type="text" placeholder="Ing. Sistemas" [(ngModel)]="titulo" required>
        </div>
        <div class="input-group">
            <h4>Contraseña <span *ngIf="!password && !valid"  class="error">*</span></h4>
            <div class="flex">
                <input [(ngModel)]="password" type="{{!show?'password':'text'}}" required> <button class="btn-input" (click)="showPassword()">Mostrar</button>
                <button class="btn-input" (click)="generarPassword()">Generar</button>
            </div>
           
        </div>
        <div class="input-group flex flex-end">
            <button class="btn btn-confirm" (click)="saveUser()">Ingresar</button>
        </div>
        
    </div>
    

</div>