@font-face {
    font-family: "Verdana";
    src: local("Verdana"), url(./assets/font/verdana.ttf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.flex{
    display: flex;
}

ul{
    list-style: none;
}

.input-group{
    padding: 10px;
}

.input-group h4{
    font-size: 13px;
}

.input-group input{
    background: none;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 5px 10px;
    margin: 10px 0 ;
}

input:focus{
    outline: none;
}


.btn{
    border: none;
    padding: 5px 10px ;
    width: 100%;
    margin: 10px 0;
    border-radius: 3px;
    cursor: pointer;
    
}



.btn-sesion{
    background: #002858;
    color: #fff;
}

.btn-sesion:hover{
    opacity: 0.8;
}



.sub-menu-horizontal{
    background: #002858;
    color: #fff;
}

.sub-menu-horizontal li{
    padding: 10px;
    cursor: pointer;
}

.sub-menu-horizontal li:hover{
    color: #f6d70e;
}


.table{
    border-collapse: collapse;
}


.table th,td{
    padding: 10px;
    text-align: left;
}

.table thead{
    background: #f6d70e;
    border: 3px;
}
.table tbody tr:nth-child(2n){
    background: #eee;
}