@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: "Verdana";
    src: local("Verdana"), url(./assets/font/verdana.ttf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


body{
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.flex-end{
    justify-content: flex-end;
}

ul{
    list-style: none;
}

.input-group{
    padding: 10px;
}



.input-group h4{
    font-size: 13px;
}

.input-group input{
    background: none;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 5px 10px;
    margin: 10px 0 ;
    width: 100%;
}

.detail input{
    background: none;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 5px 10px;
    margin: 10px 0 ;
    width: auto;
}

.input-group textarea{
    background: none;
    border: 1px solid #eee;
    padding: 5px 10px;
    margin: 10px 0 ;
    width: 100%;
}

input:focus,textarea:focus{
    outline: none;
}

.input-group select{
    background: none;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 5px 10px;
    margin: 10px 0 ;
    width: 100%;
}

.c-buttons{
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn{
    border: none;
    padding: 5px 10px ;
    width: 100%;
    margin: 10px 0;
    border-radius: 3px;
    cursor: pointer;
    
}



.btn-sesion{
    background: #002858;
    color: #fff;
}

.btn:hover{
    opacity: 0.8;
}

.btn-confirm{
    background: #197b0e;
    color: #fff;
    width: 120px;
    margin: 0 10px;
}

.btn-cancel{
    background: red;
    color: #fff;
    width: 120px;
    
    margin: 0 10px;
}

.btn-input{
    border: none;
    padding: 0 10px ;
    height: 35px;
    border-radius: 3px;
    cursor: pointer;
}



.sub-menu-horizontal{
    background: #002858;
    color: #fff;
}

.sub-menu-horizontal li{
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 400;
}



.sub-menu-horizontal li:hover{
    color: #f6d70e;
}

.sub-menu li i{
    width: 25px;
}


.table{
    border-collapse: collapse;
    font-size: 12px;
}


.table th,td{
    padding: 10px;
    text-align: left;
}

.table thead{
    background: #f6d70e;
    border: 3px;
}
.table tbody tr:nth-child(2n){
    background: #eee;
}


.column-50{
    width: 50%;
    padding: 10px;
}

.error{
    color: red;
}

.btn-link{
    border: none;
    background: none;
    color: #002858;
    cursor: pointer;
}

.icon-delete{
    color: red;
    cursor: pointer;
}

.icon-edit{
    color: #dabd00;
    cursor: pointer;
}


input[type='file']{
    display: none;
}

.btn-file{
    background: #0a6de6;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

.btn-file:hover{
    opacity: 0.8;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #002858c1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-alert{
    border: 1px solid #eee;
    background: #fff;
    padding: 20px;
    overflow-y: scroll;
    max-height: 60vh;
}

thead.color-head2{
    background: #002858;
    color: #fff;
}


.input-filter{
    width: 250px;
    display: flex;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 2px 5px;
    align-items: center;
}

.input-filter input{
    border: none;
    margin: 0;
}
.filter h4{
    margin-bottom: 10px;
    font-size: 12px;
}

.input-filter .select{
    border:none;
    padding: 0;
    margin: 5px 5px;
    cursor: pointer;
}

select:focus{
    outline: none;
}

.link{
    cursor: pointer;
}


.matriz{
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}


.matriz .table{
    width: 100%;
}

.table-matriz{
    margin: 10px;
}

.c-semanas{
    flex-flow: row wrap;
    justify-content: center;
}

.cronograma-semanal .table{
    font-size: 12px;
}



.modal-report{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #eeeeeec1;
}

.active{
    color: #197b0e;
    font-weight: 600;
}

.inactive{
    color: red;
    font-weight: 600;
}

.round{
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.inactive-docente{
    display: none;
}

.d-docente-m{
    border: 1px solid #eeee;
    cursor: pointer;
    display: flex;
    flex-flow: row;
}
.d-docente-m:hover{
    background: #eee;
}

.d-docente-m div{
    width: 33.3333%;
    padding: 10px;
}

.d-docente-m p{
    font-size: 13px;
}

.table-matriz td{
    position: relative;
}

.table-matriz td:hover .tooltip{
        display: block;
}

.tooltip{
    position: absolute;
    z-index: 3;
    background: #fff;
    border: 1px solid #dabd00;
    left: 0;
    top: 65px;
    width: 120px;
    border-radius: 5px;
    display: none;
    box-shadow: 1px 2px 3px #cbcbcb;
    padding: 5px;

}

.tooltip p{
    padding: 5px;
}

.data-user{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.data-user img{
    width: 70px;
    margin: 20px 0;
}
.data-user h4{
    font-size: 14px;
    font-weight: 400;
}

.data-user p{
    font-size: 12px;
}

.btn-sesion{
    margin: 20px 0;
}



.c-home{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.img-home{
    width: 200px;
    margin: 20px 0;
}

.c-home h3{
    font-weight: 300;
    font-size: 18px;
}

.c-img-home img{
    width: 600px;
    margin: 20px 0;
}

.input-calendar{
    border: none;
    width: 40px;
    background: #eee;
    padding: 5px;
    text-align: center;
}

.input-calendar.green{
    background: #197b0e;
    color: #fff;
}

.tema-btn{
    font-size: 9px;
    color: #0a6de6;
    cursor: pointer;
}

.colors{
    display: flex;
}

.colors div{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.red{
    background: red;
}

.pink{
    background: pink;
}

.green{
    background: green;
}

.yellow{
    background:#ffdd00;
}