<div class="body">
    <div class="panel">
        <div class="data-user" *ngIf="authService.userData as user">
            <h4>{{(user.displayName) ? user.displayName : 'User'}}</h4>
            <p>{{user.email}}</p>
        </div>
        <ul class="sub-menu">
            <li [routerLink]="['/admin/users']">Usuarios</li>
            <li>Docentes</li>
            <li>Fichas Zoom</li>
            <li>Matriz de Asistencia</li>
            <li>Documentos generados</li>
        </ul>
        
        <button class="btn btn-sesion" (click)="authService.SignOut()">Cerrar Session</button>
    </div>

    <div class="sub-body">
        <router-outlet></router-outlet>
    </div>
</div>

