<div class="body">
    <div class="panel">
        <div class="data-user" *ngIf="authService.userData as user">
            <h4>{{user.nombres? user.nombres.split(' ')[0]:''}} {{user.apellidos? user.apellidos.split(' ')[0]:''}}</h4>
            <p>{{user.correo}}</p>
            <p>{{user.cedula}}</p>
            <p>{{user.rol == 'superusuario'? 'Super Usuario':''}} {{user.rol == 'administrativo'? 'Administrador':''}}</p>
        </div>
        <ul class="sub-menu">
            <li [routerLink]="['/admin/users']">Usuarios</li>
            <li [routerLink]="['/admin/docentes']">Docentes</li>
            <li [routerLink]="['/admin/fichas']">Fichas Zoom</li>
            <li [routerLink]="['/admin/asistencia']">Matriz de Asistencia</li>
            <li>Documentos generados</li>
        </ul>
        
        <button class="btn btn-sesion" (click)="authService.SignOut()">Cerrar Session</button>
    </div>

    <div class="sub-body">
        <router-outlet></router-outlet>
    </div>
</div>

