
    <div class="container-users">
        <table class="table">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Correo</th>
                    <th>Reset Password</th>
                    <th>Eliminar</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1502326569</td>
                    <th>Tyaron Casco</th>
                    <th>Superadmin</th>
                    <th>ghcasco@gmail.com</th>
                    <th><button>Enviar Correo</button></th>
                    <th>Eliminar</th>
                    <th>Editar</th>
                </tr>
                <tr>
                    <td>1502326569</td>
                    <th>Tyaron Casco</th>
                    <th>Superadmin</th>
                    <th>ghcasco@gmail.com</th>
                    <th><button>Enviar Correo</button></th>
                    <th>Eliminar</th>
                    <th>Editar</th>
                </tr>
            </tbody>
        </table>
    </div>